* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: azure;
}

button {
    border-radius: 16px;
    background-color: #22D4FD;
    width: 280px;
    height: 79px;
    margin-left: 35px;
    font-size: 24px;
    border-bottom: 0px;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 550;
}

button:hover {
    background-color: #188ea8;
}

#h1_2 {
    color: #22D4FD;
    font-size: 36px;
}

#h1_1 {
    font-size: 36px;
}

#caixotao {
    display: flex;
    cursor: default;
}

#cxdocaixote {
    margin-top: 200px;
    margin-left: 300px;
}

#cxh1 {
    margin-top: 50px;
    margin-left: 35px;
    font-family: "Krona One", sans-serif;
}

#cxP {
    margin-top: 60px;
    font-size: 24px;
    margin-left: 35px;
    font-family: "Montserrat", sans-serif;
}

#cxbutao {
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    display: flex;
}

#cximg {
    margin-left: 60px;
    margin-top: 200px;
}


